<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2015},{30,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,150}}</string>
                <key>sourceSize</key>
                <string>{30,150}</string>
            </dict>
            <key>shot_begin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>shot_begin_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,98},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>shot_begin_gameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1798},{431,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,155}}</string>
                <key>sourceSize</key>
                <string>{431,155}</string>
            </dict>
            <key>shot_begin_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1955},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>shot_begin_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,141},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>shot_begin_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,2},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>shot_begin_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1955},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>shot_begin_rend.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1955},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shot_begin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,652},{605,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,288}}</string>
                <key>sourceSize</key>
                <string>{605,288}</string>
            </dict>
            <key>shot_begin_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{475,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,125}}</string>
                <key>sourceSize</key>
                <string>{475,125}</string>
            </dict>
            <key>shot_big_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1140},{640,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,656}}</string>
                <key>sourceSize</key>
                <string>{640,656}</string>
            </dict>
            <key>shot_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1955},{91,145}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{91,145}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_cong_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1798},{151,155}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,155}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_cong_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{137,137}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{137,137}}</string>
                <key>sourceSize</key>
                <string>{159,181}</string>
            </dict>
            <key>shot_cong_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1798},{153,143}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_gift_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>shot_gift_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1140},{579,643}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,643}}</string>
                <key>sourceSize</key>
                <string>{579,643}</string>
            </dict>
            <key>shot_gift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1955},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>shot_gift_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1955},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>shot_gift_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,278},{372,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,123}}</string>
                <key>sourceSize</key>
                <string>{372,123}</string>
            </dict>
            <key>shot_rank_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1955},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>shot_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{575,898}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,898}}</string>
                <key>sourceSize</key>
                <string>{575,898}</string>
            </dict>
            <key>shot_rank_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,278},{372,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,113}}</string>
                <key>sourceSize</key>
                <string>{372,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_scene_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07ba9e58de15ab35cbf737a6184015e3:1/1$</string>
            <key>textureFileName</key>
            <string>shot_scene_ui.png</string>
        </dict>
    </dict>
</plist>
