<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dda_mian_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1076},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_button_big_green_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1043},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_red_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,921},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_yellow_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,563},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,62},{2,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,36}}</string>
                <key>sourceSize</key>
                <string>{2,36}</string>
            </dict>
            <key>ddz_icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1356},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ddz_icon_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{97,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,118}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>ddz_main_acceptAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1250},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>ddz_main_acticityDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1213},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ddz_main_add_desktop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>ddz_main_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1252},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ddz_main_begin_big_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{202,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,227}}</string>
                <key>sourceSize</key>
                <string>{202,227}</string>
            </dict>
            <key>ddz_main_bg_ce.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,443},{11,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,71}}</string>
                <key>sourceSize</key>
                <string>{11,71}</string>
            </dict>
            <key>ddz_main_bg_ce2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{491,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,252}}</string>
                <key>sourceSize</key>
                <string>{491,252}</string>
            </dict>
            <key>ddz_main_bg_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,559}}</string>
                <key>sourceSize</key>
                <string>{640,559}</string>
            </dict>
            <key>ddz_main_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{328,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,63}}</string>
                <key>sourceSize</key>
                <string>{328,63}</string>
            </dict>
            <key>ddz_main_bubblet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{340,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,77}}</string>
                <key>sourceSize</key>
                <string>{340,77}</string>
            </dict>
            <key>ddz_main_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1978},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_main_chipMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,985},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ddz_main_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1520},{219,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,222}}</string>
                <key>sourceSize</key>
                <string>{219,222}</string>
            </dict>
            <key>ddz_main_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1654},{84,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,114}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>ddz_main_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1162},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>ddz_main_game_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1888},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ddz_main_game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1798},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ddz_main_game_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1808},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ddz_main_getReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1568},{84,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,114}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>ddz_main_giftBag.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1740},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>ddz_main_icon_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,847},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>ddz_main_icon_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1032},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>ddz_main_led_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1199},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>ddz_main_led_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2000},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>ddz_main_led_trumpet_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1986},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>ddz_main_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,30},{1,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,26}}</string>
                <key>sourceSize</key>
                <string>{1,26}</string>
            </dict>
            <key>ddz_main_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,58},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>ddz_main_location.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>ddz_main_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1112},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>ddz_main_menu_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1257},{97,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>ddz_main_menu_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,806},{130,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,113}}</string>
                <key>sourceSize</key>
                <string>{130,113}</string>
            </dict>
            <key>ddz_main_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1165},{85,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,124}}</string>
                <key>sourceSize</key>
                <string>{85,124}</string>
            </dict>
            <key>ddz_main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1744},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>ddz_main_rank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1829},{81,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,120}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>ddz_main_redPacket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1954},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ddz_main_redPacket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,936},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>ddz_main_redPacket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1954},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>ddz_main_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{453,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,47}}</string>
                <key>sourceSize</key>
                <string>{453,47}</string>
            </dict>
            <key>ddz_main_shareNreFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1472},{94,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,114}}</string>
                <key>sourceSize</key>
                <string>{94,114}</string>
            </dict>
            <key>ddz_main_share_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,685},{132,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,119}}</string>
                <key>sourceSize</key>
                <string>{132,119}</string>
            </dict>
            <key>ddz_main_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,277},{13,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,164}}</string>
                <key>sourceSize</key>
                <string>{13,164}</string>
            </dict>
            <key>ddz_main_tips_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2000},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{530,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,175}}</string>
                <key>sourceSize</key>
                <string>{530,175}</string>
            </dict>
            <key>ddz_main_topUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1744},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>ddz_main_yellow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1425},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>ddz_message_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,806},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ddz_message_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,36},{239,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,18}}</string>
                <key>sourceSize</key>
                <string>{239,18}</string>
            </dict>
            <key>ddz_message_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1744},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1744},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>ddz_message_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1138},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>ddz_message_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,886},{48,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1109},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ddz_mian_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{534,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,64}}</string>
                <key>sourceSize</key>
                <string>{534,64}</string>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1323},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_tipsWindow_bottomNine672_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1350},{98,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,672}}</string>
                <key>sourceSize</key>
                <string>{98,672}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1830},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>ddz_welfare_box_x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1859},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>ddz_welfare_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1903},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>ddz_welfare_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1830},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>ddz_welfare_youjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1060},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1109},{261,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,346}}</string>
                <key>sourceSize</key>
                <string>{263,346}</string>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1176},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>main_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1219},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>main_avatar_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1912},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>main_avatar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1720},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>main_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,100},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>withdrawal_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,30},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scene_main.png</string>
            <key>size</key>
            <string>{669,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a041d661d042c297839ec3575f6a1d69:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_scene_main.png</string>
        </dict>
    </dict>
</plist>
