<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shot_main_addBullet_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1934},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>shot_main_addBullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1931},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,26}</string>
            </dict>
            <key>shot_main_addBullet_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1934},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>shot_main_addBullet_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1931},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>shot_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>shot_main_bucket.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1727},{281,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,280}}</string>
                <key>sourceSize</key>
                <string>{281,280}</string>
            </dict>
            <key>shot_main_bucket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1727},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>shot_main_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1934},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>shot_main_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,631},{34,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,413}}</string>
                <key>sourceSize</key>
                <string>{34,413}</string>
            </dict>
            <key>shot_main_bullet_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1951},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>shot_main_doubleHit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1727},{202,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,137}}</string>
                <key>sourceSize</key>
                <string>{202,137}</string>
            </dict>
            <key>shot_main_doubleHit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1951},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>shot_main_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1727},{60,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,287}}</string>
                <key>sourceSize</key>
                <string>{60,287}</string>
            </dict>
            <key>shot_main_infinite.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,589},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>shot_main_infiniteBullet_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1727},{222,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,31}}</string>
                <key>sourceSize</key>
                <string>{222,31}</string>
            </dict>
            <key>shot_main_infiniteBullet_bar_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2016},{218,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,27}}</string>
                <key>sourceSize</key>
                <string>{222,31}</string>
            </dict>
            <key>shot_main_infiniteBullet_bar_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2020},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>shot_main_infiniteBullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1931},{195,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,87}}</string>
                <key>sourceSize</key>
                <string>{195,87}</string>
            </dict>
            <key>shot_main_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{11,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,374}}</string>
                <key>sourceSize</key>
                <string>{11,374}</string>
            </dict>
            <key>shot_main_newer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,1005}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,1005}}</string>
                <key>sourceSize</key>
                <string>{585,1005}</string>
            </dict>
            <key>shot_main_tool_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,589},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>shot_mian_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2010},{36,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,439}}</string>
                <key>sourceSize</key>
                <string>{36,439}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_main_ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43c4672a1f4a4df8cef7dc8711b93765$</string>
            <key>textureFileName</key>
            <string>shot_main_ui.png</string>
        </dict>
    </dict>
</plist>
