<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1018,132},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dda_button_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{327,828},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dda_button_diamond_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{327,864},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_alert_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,51}</string>
                <key>spriteSourceSize</key>
                <string>{46,51}</string>
                <key>textureRect</key>
                <string>{{478,516},{46,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{696,871},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{641,565},{68,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_complete_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{301,958},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_complete_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{641,871},{53,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_complete_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{476,958},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_congratulation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,161}</string>
                <key>spriteSourceSize</key>
                <string>{391,161}</string>
                <key>textureRect</key>
                <string>{{478,565},{391,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,186}</string>
                <key>spriteSourceSize</key>
                <string>{178,186}</string>
                <key>textureRect</key>
                <string>{{478,319},{178,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_cup_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{641,637},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_cup_chi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,175}</string>
                <key>spriteSourceSize</key>
                <string>{74,175}</string>
                <key>textureRect</key>
                <string>{{301,635},{74,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_diamond_avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{743,925},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_diamond_avatar_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{841,923},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_diamond_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{939,822},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_diamond_bigBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{875,516},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_diamond_have.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,68}</string>
                <key>spriteSourceSize</key>
                <string>{115,68}</string>
                <key>textureRect</key>
                <string>{{301,711},{115,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_diamond_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,58}</string>
                <key>textureRect</key>
                <string>{{267,828},{128,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_diamond_unInterface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{538,958},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_game_flow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,103}</string>
                <key>spriteSourceSize</key>
                <string>{198,105}</string>
                <key>textureRect</key>
                <string>{{371,811},{196,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_getReward_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,120}</string>
                <key>spriteSourceSize</key>
                <string>{40,120}</string>
                <key>textureRect</key>
                <string>{{579,516},{40,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_getReward_greenTri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{267,780},{20,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,36}</string>
                <key>spriteSourceSize</key>
                <string>{2,36}</string>
                <key>textureRect</key>
                <string>{{1018,94},{2,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_getReward_redBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,631}</string>
                <key>spriteSourceSize</key>
                <string>{474,631}</string>
                <key>textureRect</key>
                <string>{{2,2},{474,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_getReward_whiteTri.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{839,183},{20,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_left_num_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{253,985},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_main_acticityDetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{327,900},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_main_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{122,116}</string>
                <key>textureRect</key>
                <string>{{874,195},{122,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_main_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,32}</string>
                <key>spriteSourceSize</key>
                <string>{107,32}</string>
                <key>textureRect</key>
                <string>{{267,635},{107,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_main_getReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,34}</string>
                <key>spriteSourceSize</key>
                <string>{105,34}</string>
                <key>textureRect</key>
                <string>{{39,985},{105,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_main_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,24}</string>
                <key>spriteSourceSize</key>
                <string>{469,24}</string>
                <key>textureRect</key>
                <string>{{992,94},{469,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_main_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,34}</string>
                <key>spriteSourceSize</key>
                <string>{105,34}</string>
                <key>textureRect</key>
                <string>{{146,985},{105,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_main_rank_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{267,744},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,179}</string>
                <key>spriteSourceSize</key>
                <string>{512,179}</string>
                <key>textureRect</key>
                <string>{{478,2},{512,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_main_white_board_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{104,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,116}</string>
                <key>textureRect</key>
                <string>{{371,711},{104,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_massage_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{66,46}</string>
                <key>textureRect</key>
                <string>{{791,565},{66,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_massage_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,1}</string>
                <key>spriteSourceSize</key>
                <string>{499,1}</string>
                <key>textureRect</key>
                <string>{{1018,136},{499,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{895,618},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_rankinglist_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,90}</string>
                <key>spriteSourceSize</key>
                <string>{30,90}</string>
                <key>textureRect</key>
                <string>{{992,2},{30,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_reward_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{803,871},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_table_again.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{750,871},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_table_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,108}</string>
                <key>spriteSourceSize</key>
                <string>{10,108}</string>
                <key>textureRect</key>
                <string>{{875,183},{10,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_table_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,102}</string>
                <key>spriteSourceSize</key>
                <string>{202,104}</string>
                <key>textureRect</key>
                <string>{{478,205},{200,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_table_success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,103}</string>
                <key>spriteSourceSize</key>
                <string>{197,105}</string>
                <key>textureRect</key>
                <string>{{875,319},{195,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{670,954},{65,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_uncomplete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{724,565},{68,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{531,516},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_white_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{895,720},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{371,1009},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,346}</string>
                <key>spriteSourceSize</key>
                <string>{263,346}</string>
                <key>textureRect</key>
                <string>{{2,637},{263,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{2,985},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddz_scene_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64db3cb62109e217b6b81303bc7c5060:7a864ab731b7fed4cbb8814ebad69bfd:2dd629aa5f06edff59e6725f4c5d54cc$</string>
            <key>textureFileName</key>
            <string>ddz_scene_ui.png</string>
        </dict>
    </dict>
</plist>
