<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,668},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ddz_button_big_green_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,859},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_red_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,859},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_yellow_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,861},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,664},{2,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,36}}</string>
                <key>sourceSize</key>
                <string>{2,36}</string>
            </dict>
            <key>ddz_icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,854},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ddz_main_acceptAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,988},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>ddz_main_acticityDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,809},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_main_bg_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{640,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,559}}</string>
                <key>sourceSize</key>
                <string>{640,559}</string>
            </dict>
            <key>ddz_main_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,809},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_main_chipMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,809},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ddz_main_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,809},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ddz_main_getReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,988},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>ddz_main_giftBag.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,988},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>ddz_main_icon_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,809},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>ddz_main_icon_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,809},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>ddz_main_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,670},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>ddz_main_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,809},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>ddz_main_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,960},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>ddz_main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,970},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>ddz_main_shareNreFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,986},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>ddz_main_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{13,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,164}}</string>
                <key>sourceSize</key>
                <string>{13,164}</string>
            </dict>
            <key>ddz_main_tips_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,644},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,644},{462,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,163}</string>
            </dict>
            <key>ddz_main_topUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,970},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>ddz_main_yellow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,766},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>ddz_message_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,809},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ddz_message_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,644},{239,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,18}}</string>
                <key>sourceSize</key>
                <string>{239,18}</string>
            </dict>
            <key>ddz_message_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,809},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,960},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>ddz_message_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,986},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>ddz_message_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,809},{48,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,850},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,664},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_tipsWindow_bottomNine672_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,672}}</string>
                <key>sourceSize</key>
                <string>{98,672}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,843},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{261,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,346}}</string>
                <key>sourceSize</key>
                <string>{263,346}</string>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,986},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>withdrawal_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,670},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scene_main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb75eef1a8b146db67939fd5e980dae5$</string>
            <key>textureFileName</key>
            <string>ddz_scene_main.png</string>
        </dict>
    </dict>
</plist>
