<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>ddz_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>ddz_b_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,162},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,206},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,172},{32,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,84},{38,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,158},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,202},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,158},{30,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,202},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,202},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,206},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,206},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,204},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,204},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,210},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,204},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,128},{32,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,211},{38,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,162},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,176},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,140},{30,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,172},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,162},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,221},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,191},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,221},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_golden_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,204},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,132},{38,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,191},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,84},{32,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,211},{38,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,162},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,40}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,221},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{30,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,221},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,191},{28,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,132},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,132},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,132},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_b_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>ddz_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>ddz_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,78},{78,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{78,78}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>ddz_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,60},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{82,70}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>ddz_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,107},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,82}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>ddz_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,127},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,82}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>ddz_card_fore_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,200}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{142,200}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>ddz_card_fore_back_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{85,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,123}}</string>
                <key>sourceSize</key>
                <string>{85,123}</string>
            </dict>
            <key>ddz_card_fore_back_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,60},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>ddz_dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>ddz_joker_bigking.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,31},{27,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,148}}</string>
                <key>sourceSize</key>
                <string>{27,148}</string>
            </dict>
            <key>ddz_joker_samllking.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{27,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,148}}</string>
                <key>sourceSize</key>
                <string>{27,148}</string>
            </dict>
            <key>ddz_onpuker_hui9sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,84},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>ddz_s_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,191},{17,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,52}}</string>
                <key>sourceSize</key>
                <string>{17,52}</string>
            </dict>
            <key>ddz_s_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,107},{17,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,52}}</string>
                <key>sourceSize</key>
                <string>{17,52}</string>
            </dict>
            <key>ddz_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,107},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_poker.png</string>
            <key>size</key>
            <string>{780,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4badfab1f3bec0405fcbe7c862333653$</string>
            <key>textureFileName</key>
            <string>ddz_poker.png</string>
        </dict>
    </dict>
</plist>
