<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>baoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,310},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>baoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>baoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>baoxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>baoxiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>boliping.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{135,155}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{135,155}}</string>
                <key>sourceSize</key>
                <string>{159,177}</string>
            </dict>
            <key>boliping01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,589},{73,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{73,40}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>boliping02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,372},{75,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>boliping03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,147},{68,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{68,75}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>boliping04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{82,79}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>boliping05.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,515},{89,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>boliping06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,83},{81,62}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{81,62}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>glo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{192,194}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{192,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pingzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,338},{43,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,116}}</string>
                <key>sourceSize</key>
                <string>{43,116}</string>
            </dict>
            <key>pingzi_01_posui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,528},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>pingzi_01_posui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,366},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>pingzi_01_posui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,217},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>pingzi_01_posui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,494},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>pingzi_01_posui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,674},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>pingzi_01_posui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,326},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>pingzi_01_posui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,552},{43,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,23}}</string>
                <key>sourceSize</key>
                <string>{43,23}</string>
            </dict>
            <key>pingzi_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{48,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,164}</string>
            </dict>
            <key>pingzi_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,240},{48,122}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,164}</string>
            </dict>
            <key>pingzi_02_posui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,622},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>pingzi_02_posui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,591},{19,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,60}}</string>
                <key>sourceSize</key>
                <string>{19,60}</string>
            </dict>
            <key>pingzi_02_posui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,354},{13,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,35}}</string>
                <key>sourceSize</key>
                <string>{13,35}</string>
            </dict>
            <key>pingzi_02_posui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,167},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>pingzi_02_posui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,598},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>pingzi_02_posui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,515},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>pingzi_02_posui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,730},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>pingzi_02_posui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,671},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pingzi_02_posui09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,622},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>pingzi_02_posui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,391},{44,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,12}}</string>
                <key>sourceSize</key>
                <string>{44,12}</string>
            </dict>
            <key>pingzi_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,290},{46,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,122}}</string>
                <key>sourceSize</key>
                <string>{46,122}</string>
            </dict>
            <key>pingzi_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,508},{46,94}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,122}</string>
            </dict>
            <key>pingzi_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,604},{46,72}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,122}</string>
            </dict>
            <key>pingzi_03_posui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,709},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>pingzi_03_posui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,756},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>pingzi_03_posui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,552},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>pingzi_03_posui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,733},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>pingzi_03_posui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,733},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>pingzi_03_posui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,406},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>pingzi_03_posui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>pingzi_03_posui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,711},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>pingzi_03_posui09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,646},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>pingzi_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{89,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,136}}</string>
                <key>sourceSize</key>
                <string>{89,136}</string>
            </dict>
            <key>pingzi_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,620},{89,96}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{89,96}}</string>
                <key>sourceSize</key>
                <string>{89,136}</string>
            </dict>
            <key>pingzi_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{89,90}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,136}</string>
            </dict>
            <key>pingzi_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,219},{89,64}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{89,64}}</string>
                <key>sourceSize</key>
                <string>{89,136}</string>
            </dict>
            <key>pingzi_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,500},{89,60}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{89,60}}</string>
                <key>sourceSize</key>
                <string>{89,136}</string>
            </dict>
            <key>pingzi_04_posui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,217},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>pingzi_04_posui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,217},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>pingzi_04_posui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,711},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>pingzi_04_posui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,711},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>pingzi_04_posui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,674},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>pingzi_04_posui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,601},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>pingzi_04_posui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,478},{28,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,50}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>pingzi_04_posui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,196},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>pingzi_04_posui09.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,577},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>pingzi_04_posui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,445},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>pingzi_04_posui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,432},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>pingzi_04_posui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,648},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>pingzi_04_posui13.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,197},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>pingzi_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,432},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,432},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,432},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,432},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_07_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_07_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_08_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_08_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_08_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_09_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_09_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>pingzi_10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>qiang_attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,224}}</string>
                <key>sourceSize</key>
                <string>{163,224}</string>
            </dict>
            <key>qiang_attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,196},{128,158}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,37},{128,158}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>qiang_attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,326},{131,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{131,104}}</string>
                <key>sourceSize</key>
                <string>{163,224}</string>
            </dict>
            <key>qiang_dead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,529},{96,91}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{96,91}}</string>
                <key>sourceSize</key>
                <string>{130,113}</string>
            </dict>
            <key>qiang_dead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{95,110}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{95,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>qiang_dead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,383},{130,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,113}}</string>
                <key>sourceSize</key>
                <string>{130,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_bottles.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f7a28e5747002e63679344c4f94e70b$</string>
            <key>textureFileName</key>
            <string>shot_bottles.png</string>
        </dict>
    </dict>
</plist>
