<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,553},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>dda_button_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,659},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>dda_button_diamond_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,659},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_alert_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,548},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>ddz_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,503},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ddz_btn_record_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,675},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>ddz_coin_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,518},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ddz_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,565},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_complete_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,572},{68,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_complete_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,565},{51,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{51,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>ddz_complete_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,427},{58,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{58,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_congratulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{393,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,162}}</string>
                <key>sourceSize</key>
                <string>{393,162}</string>
            </dict>
            <key>ddz_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{178,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,186}}</string>
                <key>sourceSize</key>
                <string>{178,186}</string>
            </dict>
            <key>ddz_cup_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,167},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>ddz_cup_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,515},{74,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,175}}</string>
                <key>sourceSize</key>
                <string>{74,175}</string>
            </dict>
            <key>ddz_diamond_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,511},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ddz_diamond_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,370},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ddz_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,596},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_diamond_bigBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,459},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_diamond_have.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,557},{115,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,68}}</string>
                <key>sourceSize</key>
                <string>{115,68}</string>
            </dict>
            <key>ddz_diamond_interface.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,357},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>ddz_diamond_unInterface.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,642},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>ddz_game_flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,120},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,101}}</string>
                <key>sourceSize</key>
                <string>{198,105}</string>
            </dict>
            <key>ddz_getReward_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,557},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>ddz_getReward_greenTri.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,648},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,515},{2,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,36}}</string>
                <key>sourceSize</key>
                <string>{2,36}</string>
            </dict>
            <key>ddz_getReward_whiteTri.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,120},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>ddz_left_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,468},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>ddz_main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,116}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ddz_main_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,609},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_main_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{530,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,25}}</string>
                <key>sourceSize</key>
                <string>{530,25}</string>
            </dict>
            <key>ddz_main_peronal_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,645},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>ddz_main_peronal_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,561},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>ddz_main_peronal_jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,609},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>ddz_main_rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,659},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,163}</string>
            </dict>
            <key>ddz_main_white_board_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,467},{102,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{102,96}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,557},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_rankinglist_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,534},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>ddz_result_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,166},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>ddz_reward_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,648},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>ddz_reward_icon_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,488},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ddz_roomlist_redBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,401},{115,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,31}}</string>
                <key>sourceSize</key>
                <string>{115,31}</string>
            </dict>
            <key>ddz_roomlist_smallPerson.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,648},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>ddz_roomlist_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,626},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ddz_table_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,468},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>ddz_table_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,401},{198,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,100}}</string>
                <key>sourceSize</key>
                <string>{202,104}</string>
            </dict>
            <key>ddz_table_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,316},{193,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,101}}</string>
                <key>sourceSize</key>
                <string>{197,105}</string>
            </dict>
            <key>ddz_tasks_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,520},{50,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{50,86}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,572},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>ddz_uncomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,561},{68,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,626},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ddz_welfare_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,516},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_white_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,357},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_white_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,357},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{261,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,346}}</string>
                <key>sourceSize</key>
                <string>{263,346}</string>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,648},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>record_big_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,370},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>record_p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,518},{6,6}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{6,6}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>record_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,684},{8,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{8,18}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>record_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{10,28}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>record_playing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,503},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>record_progres.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,166},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scene_ui.png</string>
            <key>size</key>
            <string>{1024,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bc009b9de477edfdf9f87c72b985e7d:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_scene_ui.png</string>
        </dict>
    </dict>
</plist>
