<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_welfare_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,676},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_welfare_banner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,624},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_welfare_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,614},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>ddz_welfare_bg_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,727},{116,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,8}}</string>
                <key>sourceSize</key>
                <string>{116,8}</string>
            </dict>
            <key>ddz_welfare_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{293,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,238}}</string>
                <key>sourceSize</key>
                <string>{293,238}</string>
            </dict>
            <key>ddz_welfare_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,242},{51,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,483}}</string>
                <key>sourceSize</key>
                <string>{51,483}</string>
            </dict>
            <key>ddz_welfare_box_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,633},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>ddz_welfare_box_tuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{274,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{274,29}}</string>
                <key>sourceSize</key>
                <string>{276,31}</string>
            </dict>
            <key>ddz_welfare_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,515},{130,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,116}}</string>
                <key>sourceSize</key>
                <string>{130,116}</string>
            </dict>
            <key>ddz_welfare_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,519},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>ddz_welfare_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,466},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>ddz_welfare_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,685},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ddz_welfare_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,378},{169,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,139}}</string>
                <key>sourceSize</key>
                <string>{169,139}</string>
            </dict>
            <key>ddz_welfare_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,621},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_welfare_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,242},{185,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,134}}</string>
                <key>sourceSize</key>
                <string>{185,134}</string>
            </dict>
            <key>ddz_welfare_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,678},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>ddz_welfare_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,256}}</string>
                <key>sourceSize</key>
                <string>{608,256}</string>
            </dict>
            <key>ddz_welfare_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,278},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>ddz_welfare_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,380},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ddz_welfare_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,614},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>ddz_welfare_icon_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,519},{181,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,61}}</string>
                <key>sourceSize</key>
                <string>{181,61}</string>
            </dict>
            <key>ddz_welfare_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,667},{113,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>ddz_welfare_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,466},{113,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,146}}</string>
                <key>sourceSize</key>
                <string>{113,146}</string>
            </dict>
            <key>ddz_welfare_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,572},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_welfare_state.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,687},{97,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,35}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>ddz_welfare_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,426},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>ddz_welfare_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,242},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
            <key>ddz_welfare_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{406,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,104}}</string>
                <key>sourceSize</key>
                <string>{406,104}</string>
            </dict>
            <key>ddz_welfare_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{433,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,111}}</string>
                <key>sourceSize</key>
                <string>{433,111}</string>
            </dict>
            <key>ddz_welfare_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{422,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,79}}</string>
                <key>sourceSize</key>
                <string>{422,79}</string>
            </dict>
            <key>ddz_welfare_weilingqu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,633},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_welfare_white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{566,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,253}}</string>
                <key>sourceSize</key>
                <string>{566,253}</string>
            </dict>
            <key>ddz_welfare_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,260},{51,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,359}}</string>
                <key>sourceSize</key>
                <string>{51,359}</string>
            </dict>
            <key>ddz_welfare_yellowpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,519},{113,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,146}}</string>
                <key>sourceSize</key>
                <string>{113,146}</string>
            </dict>
            <key>ddz_welfare_yilingqu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,670},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_welfare_reward.png</string>
            <key>size</key>
            <string>{1023,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9013204392b70b834db3f57b43a3995d:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_welfare_reward.png</string>
        </dict>
    </dict>
</plist>
