<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_shoulei.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,258},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,109}}</string>
                <key>sourceSize</key>
                <string>{94,109}</string>
            </dict>
            <key>shot_grenade_ba_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shot_grenade_ba_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shot_grenade_ba_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,388},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shot_grenade_ba_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shot_grenade_ba_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shot_grenade_ba_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,258},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shot_grenade_ba_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shot_grenade_ba_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_grenade.png</string>
            <key>size</key>
            <string>{772,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d90c06ffb0c96720415dab1a92961f:1/1$</string>
            <key>textureFileName</key>
            <string>shot_grenade.png</string>
        </dict>
    </dict>
</plist>
