<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,617},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{102,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>avatar_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,507},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>avatar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,402},{108,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>ddz_avatar_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,824},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>ddz_card_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,204},{89,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,129}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>ddz_dizhu_hot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,701},{77,49}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{79,55}</string>
            </dict>
            <key>ddz_dizhu_hot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,463},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{79,55}</string>
            </dict>
            <key>ddz_gameDetail_avatar_add_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,750},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>ddz_gameDetail_avatar_sub_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,753},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>ddz_gameDetail_bg_wen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,402}}</string>
                <key>sourceSize</key>
                <string>{586,402}</string>
            </dict>
            <key>ddz_gameDetail_cel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,696},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ddz_gameDetail_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,798},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>ddz_gameDetail_left_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,295},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>ddz_gameResult_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,374},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
            <key>ddz_gameResult_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,753},{182,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,87}}</string>
                <key>sourceSize</key>
                <string>{182,87}</string>
            </dict>
            <key>ddz_gameResult_fail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{574,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,170}}</string>
                <key>sourceSize</key>
                <string>{574,170}</string>
            </dict>
            <key>ddz_gameResult_fail_noti.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,849},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>ddz_gameResult_fail_noti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,879},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>ddz_gameResult_fail_noti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,691},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>ddz_gameResult_score_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,883},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ddz_gameResult_score_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,883},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>ddz_gameResult_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,634},{170,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,87}}</string>
                <key>sourceSize</key>
                <string>{170,87}</string>
            </dict>
            <key>ddz_gameResult_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{574,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,170}}</string>
                <key>sourceSize</key>
                <string>{574,170}</string>
            </dict>
            <key>ddz_gameResult_win_noti.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,836},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>ddz_gameResult_win_noti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,876},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>ddz_gameResult_win_noti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,649},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>ddz_getRedPacket_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ddz_result_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,750},{32,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,70}}</string>
                <key>sourceSize</key>
                <string>{32,70}</string>
            </dict>
            <key>ddz_result_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,542},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>ddz_table_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,801},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ddz_table_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,752},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ddz_table_btn_duiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,882},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>ddz_table_btn_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,295},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>ddz_table_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,258},{35,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{35,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>ddz_table_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,204},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>ddz_table_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{496,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,1}}</string>
                <key>sourceSize</key>
                <string>{496,1}</string>
            </dict>
            <key>ddz_table_yy_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,603},{81,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,96}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>ddz_table_yy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,626},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,28}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>ddz_table_yy_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,463},{10,5}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{10,5}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,65},{12,13}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{12,13}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,733},{14,23}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{14,23}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,917},{16,33}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{16,33}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,917},{18,43}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{18,43}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,822},{20,51}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{20,51}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{22,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,61}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>ddz_table_yy_icon_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,603},{54,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{54,91}</string>
            </dict>
            <key>ddz_table_yy_send_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,883},{129,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,50}}</string>
                <key>sourceSize</key>
                <string>{129,50}</string>
            </dict>
            <key>ddz_table_yy_send_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,721},{6,6}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{6,6}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>ddz_table_yy_send_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,830},{14,20}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{14,20}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>ddz_table_yy_send_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,602},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>ddz_table_yy_tipWord_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,836},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>ddz_tx_laizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{142,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,200}}</string>
                <key>sourceSize</key>
                <string>{142,200}</string>
            </dict>
            <key>ddz_tx_laizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,260},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>ddz_tx_laizi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,753},{128,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,185}}</string>
                <key>sourceSize</key>
                <string>{128,185}</string>
            </dict>
            <key>ddz_tx_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dm_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,879},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>ico_dm.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,830},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>lottery_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,507},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>lottery_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,374},{99,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,2}}</string>
                <key>sourceSize</key>
                <string>{99,2}</string>
            </dict>
            <key>lottery_win_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,721},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>lottery_win_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,723},{181,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,73}}</string>
                <key>sourceSize</key>
                <string>{181,73}</string>
            </dict>
            <key>role_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,798},{112,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,36}}</string>
                <key>sourceSize</key>
                <string>{112,36}</string>
            </dict>
            <key>timer_boder.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,752},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>timer_boder_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,883},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>timer_boder_loding.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,503},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,733},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_table_ui.png</string>
            <key>size</key>
            <string>{1023,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e914b661e613405dcb1cc91c658237:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_table_ui.png</string>
        </dict>
    </dict>
</plist>
