<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,296},{30,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,150}}</string>
                <key>sourceSize</key>
                <string>{30,150}</string>
            </dict>
            <key>shot_begin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>shot_begin_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,247},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>shot_begin_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,247},{92,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{92,79}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>shot_begin_gameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,660},{431,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,155}}</string>
                <key>sourceSize</key>
                <string>{431,155}</string>
            </dict>
            <key>shot_begin_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,247},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>shot_begin_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1909},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>shot_begin_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,247},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>shot_begin_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,319},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>shot_begin_rend.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1093},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>shot_begin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{578,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,243}}</string>
                <key>sourceSize</key>
                <string>{578,243}</string>
            </dict>
            <key>shot_begin_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1909},{475,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,125}}</string>
                <key>sourceSize</key>
                <string>{475,125}</string>
            </dict>
            <key>shot_big_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,2},{640,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,656}}</string>
                <key>sourceSize</key>
                <string>{640,656}</string>
            </dict>
            <key>shot_box_checkBox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1093},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>shot_box_checkBox_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1093},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{43,33}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>shot_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,328},{91,145}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{91,145}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_common_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,421},{218,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,123}}</string>
                <key>sourceSize</key>
                <string>{218,123}</string>
            </dict>
            <key>shot_cong_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{151,155}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,155}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_cong_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1909},{137,137}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{137,137}}</string>
                <key>sourceSize</key>
                <string>{159,181}</string>
            </dict>
            <key>shot_cong_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,155},{139,151}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{139,151}}</string>
                <key>sourceSize</key>
                <string>{153,157}</string>
            </dict>
            <key>shot_freeTool_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1140},{488,767}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,767}}</string>
                <key>sourceSize</key>
                <string>{488,767}</string>
            </dict>
            <key>shot_freeTool_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1909},{134,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,61}</string>
            </dict>
            <key>shot_gift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,343},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>shot_gift_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,328},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>shot_rank_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,391},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>shot_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{575,898}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,898}}</string>
                <key>sourceSize</key>
                <string>{575,898}</string>
            </dict>
            <key>shot_rank_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,247},{372,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,113}}</string>
                <key>sourceSize</key>
                <string>{372,113}</string>
            </dict>
            <key>shot_share_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1093},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_scene_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d16d0cf215644d485c0696bf3974e0$</string>
            <key>textureFileName</key>
            <string>shot_scene_ui.png</string>
        </dict>
    </dict>
</plist>
