<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shot_main_addBullet_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,339},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>shot_main_addBullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,18},{106,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,26}}</string>
                <key>sourceSize</key>
                <string>{106,26}</string>
            </dict>
            <key>shot_main_addBullet_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,263},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>shot_main_addBullet_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,395},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>shot_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>shot_main_bucket.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1728},{279,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,278}}</string>
                <key>sourceSize</key>
                <string>{279,278}</string>
            </dict>
            <key>shot_main_bucket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1728},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>shot_main_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,2},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>shot_main_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,82},{34,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,413}}</string>
                <key>sourceSize</key>
                <string>{34,413}</string>
            </dict>
            <key>shot_main_bulletType_ Barrett .png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1935},{41,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,446}}</string>
                <key>sourceSize</key>
                <string>{41,446}</string>
            </dict>
            <key>shot_main_bulletType_Kar98k_overlookView.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1978},{41,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,440}}</string>
                <key>sourceSize</key>
                <string>{41,440}</string>
            </dict>
            <key>shot_main_bulletType_M16.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1923},{39,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,419}}</string>
                <key>sourceSize</key>
                <string>{39,419}</string>
            </dict>
            <key>shot_main_bulletType_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2009},{36,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,439}}</string>
                <key>sourceSize</key>
                <string>{36,439}</string>
            </dict>
            <key>shot_main_bulletType_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{60,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,287}}</string>
                <key>sourceSize</key>
                <string>{60,287}</string>
            </dict>
            <key>shot_main_bulletType_submachineGun.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,571},{97,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,402}}</string>
                <key>sourceSize</key>
                <string>{97,402}</string>
            </dict>
            <key>shot_main_bulletType_win94_overlookView.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1964},{33,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,421}}</string>
                <key>sourceSize</key>
                <string>{33,421}</string>
            </dict>
            <key>shot_main_bullet_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,306},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>shot_main_countDown_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,436},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>shot_main_countDown_bar_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2017},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,27}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>shot_main_crazyTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,589},{539,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,117}}</string>
                <key>sourceSize</key>
                <string>{539,117}</string>
            </dict>
            <key>shot_main_crazyTime_before.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{586,1005}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1005}}</string>
                <key>sourceSize</key>
                <string>{586,1005}</string>
            </dict>
            <key>shot_main_crazyTime_before_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{432,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,110}}</string>
                <key>sourceSize</key>
                <string>{432,110}</string>
            </dict>
            <key>shot_main_crazyTime_countDown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{35,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,78}}</string>
                <key>sourceSize</key>
                <string>{35,78}</string>
            </dict>
            <key>shot_main_crazyTime_countDown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1964},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>shot_main_crazyTime_countDown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1964},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shot_main_crazyTime_countDown_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,183},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>shot_main_crazyTime_countDown_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1964},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shot_main_crazyTime_perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,183},{225,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,50}}</string>
                <key>sourceSize</key>
                <string>{225,50}</string>
            </dict>
            <key>shot_main_crazyTime_timeOut.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,91},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>shot_main_doubleHit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,975},{202,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,137}}</string>
                <key>sourceSize</key>
                <string>{202,137}</string>
            </dict>
            <key>shot_main_doubleHit_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,469},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shot_main_doubleHit_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,589},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>shot_main_doubleHit_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,126},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>shot_main_doubleHit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,497},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>shot_main_flying_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,589},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,84}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>shot_main_flying_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,975},{154,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{154,63}</string>
            </dict>
            <key>shot_main_flying_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,589},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,84}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>shot_main_infinite.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1923},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>shot_main_infiniteBullet_bar_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,220},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{84,24}</string>
            </dict>
            <key>shot_main_infiniteBullet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{195,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,87}}</string>
                <key>sourceSize</key>
                <string>{195,87}</string>
            </dict>
            <key>shot_main_juggling.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,589},{543,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,116}}</string>
                <key>sourceSize</key>
                <string>{543,116}</string>
            </dict>
            <key>shot_main_juggling_result_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,183},{49,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,210}}</string>
                <key>sourceSize</key>
                <string>{49,210}</string>
            </dict>
            <key>shot_main_juggling_result_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1728},{459,193}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,193}}</string>
                <key>sourceSize</key>
                <string>{461,205}</string>
            </dict>
            <key>shot_main_juggling_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,436},{198,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{198,146}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>shot_main_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{11,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,374}}</string>
                <key>sourceSize</key>
                <string>{11,374}</string>
            </dict>
            <key>shot_main_newer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{585,1005}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,1005}}</string>
                <key>sourceSize</key>
                <string>{585,1005}</string>
            </dict>
            <key>shot_main_tool_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,143},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,38}}</string>
                <key>sourceSize</key>
                <string>{166,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_main_ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e1f50e90dd7b4e9fdd3c42f9718c7e$</string>
            <key>textureFileName</key>
            <string>shot_main_ui.png</string>
        </dict>
    </dict>
</plist>
