<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_button_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,220},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_coin_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,168},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ddz_mall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,165}}</string>
                <key>sourceSize</key>
                <string>{158,165}</string>
            </dict>
            <key>ddz_mall_coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,212},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ddz_mall_coin_icon_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,169},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>ddz_mall_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,79},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>ddz_mall_redBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{117,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,75}}</string>
                <key>sourceSize</key>
                <string>{117,75}</string>
            </dict>
            <key>ddz_mall_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>ddz_mall_success_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,168},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_mall.png</string>
            <key>size</key>
            <string>{281,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2f9aa74bbd75f583ccd1418ec6966ab:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_mall.png</string>
        </dict>
    </dict>
</plist>
