<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,243},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ddz_button_big_green_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,129},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_red_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_button_big_yellow_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{120,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,125}}</string>
                <key>sourceSize</key>
                <string>{120,125}</string>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{2,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,36}}</string>
                <key>sourceSize</key>
                <string>{2,36}</string>
            </dict>
            <key>ddz_icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,828},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ddz_icon_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,828},{97,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,118}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>ddz_main_acceptAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,927},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>ddz_main_acticityDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,400},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ddz_main_bg_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,559}}</string>
                <key>sourceSize</key>
                <string>{640,559}</string>
            </dict>
            <key>ddz_main_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,943},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_main_chipMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,962},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ddz_main_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ddz_main_getReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,927},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>ddz_main_giftBag.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,256},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>ddz_main_icon_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,979},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>ddz_main_icon_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,962},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>ddz_main_led_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,510},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>ddz_main_led_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>ddz_main_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,705},{3,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,2}}</string>
                <key>sourceSize</key>
                <string>{3,2}</string>
            </dict>
            <key>ddz_main_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,893},{48,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>ddz_main_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,759},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>ddz_main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,550},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>ddz_main_shareNreFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,944},{97,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,33}}</string>
                <key>sourceSize</key>
                <string>{97,33}</string>
            </dict>
            <key>ddz_main_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,243},{13,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,164}}</string>
                <key>sourceSize</key>
                <string>{13,164}</string>
            </dict>
            <key>ddz_main_tips_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,989},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{462,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,163}}</string>
                <key>sourceSize</key>
                <string>{462,163}</string>
            </dict>
            <key>ddz_main_topUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,705},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>ddz_main_yellow_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,358},{100,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,93}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>ddz_message_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,979},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ddz_message_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{239,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,18}}</string>
                <key>sourceSize</key>
                <string>{239,18}</string>
            </dict>
            <key>ddz_message_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,604},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,453},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>ddz_message_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,979},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>ddz_message_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,938},{48,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{48,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_message_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,828},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,256},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_tipsWindow_bottomNine672_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{98,672}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,672}}</string>
                <key>sourceSize</key>
                <string>{98,672}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,632},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>ddz_welfare_box_x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,938},{82,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ddz_welfare_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,453},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>ddz_welfare_shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,558},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>ddz_welfare_youjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,815},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,663},{261,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,346}}</string>
                <key>sourceSize</key>
                <string>{263,346}</string>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,363},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>withdrawal_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,944},{20,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,4}}</string>
                <key>sourceSize</key>
                <string>{20,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scene_main.png</string>
            <key>size</key>
            <string>{798,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb52b05ae3b8402a96d0c0dda43b3dff:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_scene_main.png</string>
        </dict>
    </dict>
</plist>
