<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1017},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>dda_button_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,432},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>dda_button_diamond_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,388},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>ddz_alert_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,660},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>ddz_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,642},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ddz_button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,94},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>ddz_button_pink_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>ddz_button_white_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,898},{124,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{124,96}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>ddz_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_complete_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,446},{68,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_complete_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,600},{51,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{51,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>ddz_complete_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,608},{58,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{58,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_congratulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,595},{408,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,114}}</string>
                <key>sourceSize</key>
                <string>{408,114}</string>
            </dict>
            <key>ddz_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,423},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>ddz_cup_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,286},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>ddz_diamond_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,510},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ddz_diamond_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,516},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ddz_diamond_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,608},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz_diamond_bigBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,446},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_diamond_have.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{115,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,68}}</string>
                <key>sourceSize</key>
                <string>{115,68}</string>
            </dict>
            <key>ddz_diamond_interface.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,450},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>ddz_diamond_unInterface.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,388},{130,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,60}}</string>
                <key>sourceSize</key>
                <string>{130,60}</string>
            </dict>
            <key>ddz_game_flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,183},{194,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,101}}</string>
                <key>sourceSize</key>
                <string>{198,105}</string>
            </dict>
            <key>ddz_getReward_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,898},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>ddz_getReward_greenTri.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1002},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>ddz_getReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{4,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,38}}</string>
                <key>sourceSize</key>
                <string>{4,38}</string>
            </dict>
            <key>ddz_getReward_redBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,631}}</string>
                <key>sourceSize</key>
                <string>{474,631}</string>
            </dict>
            <key>ddz_getReward_whiteTri.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1002},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>ddz_left_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,406},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>ddz_main_acticityDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,331},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ddz_main_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,898},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,116}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ddz_main_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ddz_main_getReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,183},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>ddz_main_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,121},{469,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,24}}</string>
                <key>sourceSize</key>
                <string>{469,24}</string>
            </dict>
            <key>ddz_main_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>ddz_main_rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,388},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>ddz_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{512,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,179}}</string>
                <key>sourceSize</key>
                <string>{512,179}</string>
            </dict>
            <key>ddz_main_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,286},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>ddz_main_white_board_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,898},{102,96}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{102,96}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ddz_massage_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,919},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>ddz_massage_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,94},{499,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,1}}</string>
                <key>sourceSize</key>
                <string>{499,1}</string>
            </dict>
            <key>ddz_rankinglist_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,321},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_rankinglist_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{30,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,90}}</string>
                <key>sourceSize</key>
                <string>{30,90}</string>
            </dict>
            <key>ddz_reward_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,548},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>ddz_table_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,668},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>ddz_table_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{10,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,108}}</string>
                <key>sourceSize</key>
                <string>{10,108}</string>
            </dict>
            <key>ddz_table_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,183},{198,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,100}}</string>
                <key>sourceSize</key>
                <string>{202,104}</string>
            </dict>
            <key>ddz_table_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,285},{193,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,101}}</string>
                <key>sourceSize</key>
                <string>{197,105}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,510},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>ddz_uncomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,577},{68,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>ddz_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,614},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ddz_white_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,219},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ddz_white_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1005},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>home_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,635},{261,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,346}}</string>
                <key>sourceSize</key>
                <string>{263,346}</string>
            </dict>
            <key>loading_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,369},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scene_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6304fd4dea375afb7e79ebf9ba5fe1ad:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_scene_ui.png</string>
        </dict>
    </dict>
</plist>
