<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{346,133},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{2,77},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,99}</string>
                <key>spriteSourceSize</key>
                <string>{108,99}</string>
                <key>textureRect</key>
                <string>{{154,129},{108,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_card_back_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,129}</string>
                <key>spriteSourceSize</key>
                <string>{89,129}</string>
                <key>textureRect</key>
                <string>{{351,2},{89,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dm_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{2,187},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_dm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{50,44}</string>
                <key>textureRect</key>
                <string>{{77,191},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,125}</string>
                <key>spriteSourceSize</key>
                <string>{164,125}</string>
                <key>textureRect</key>
                <string>{{185,2},{164,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_split_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,2}</string>
                <key>spriteSourceSize</key>
                <string>{99,2}</string>
                <key>textureRect</key>
                <string>{{150,77},{99,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lottery_win_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,83}</string>
                <key>textureRect</key>
                <string>{{264,129},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lottery_win_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,73}</string>
                <key>spriteSourceSize</key>
                <string>{181,73}</string>
                <key>textureRect</key>
                <string>{{2,2},{181,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,36}</string>
                <key>spriteSourceSize</key>
                <string>{112,36}</string>
                <key>textureRect</key>
                <string>{{112,77},{112,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timer_boder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{452,104},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_boder_heitao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{452,176},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_boder_loding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{442,2},{100,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{72,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddz_table_ui.png</string>
            <key>size</key>
            <string>{542,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa9dc5eaa6817684a07ebc3a8bbee7bc:81697babc92186df17dac15e05395032:08347c1e84e41d36d13a6f615bc390f6$</string>
            <key>textureFileName</key>
            <string>ddz_table_ui.png</string>
        </dict>
    </dict>
</plist>
