<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_table_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,757},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,735},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,598},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,576},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,417},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,258},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>ddz_table_bomb_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{254,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,246}}</string>
                <key>sourceSize</key>
                <string>{254,246}</string>
            </dict>
            <key>ddz_table_bomb_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{301,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,265}}</string>
                <key>sourceSize</key>
                <string>{301,265}</string>
            </dict>
            <key>ddz_table_bomb_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,270}}</string>
                <key>sourceSize</key>
                <string>{315,270}</string>
            </dict>
            <key>ddz_table_bomb_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,258},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>ddz_table_wordzhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,417},{179,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,72}}</string>
                <key>sourceSize</key>
                <string>{179,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_table_ani_bomb.png</string>
            <key>size</key>
            <string>{567,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65654770dd37cd670328b6364c7dd6ee:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_table_ani_bomb.png</string>
        </dict>
    </dict>
</plist>
